{% extends 'layouts/main.html' %}
{% block content %}


<div class="container mt-5">
    <div class="heading1 text-dark">
       <center> <h1>Curriculumn Vitae</h1></center>
       <form action="/cv_show">
        <input type="submit" value="<<---Show CV data--->>">
        </form>
    </div>
    <div class="heading2 mt-3 text-success">
        <h3>Personal Information:</h3>
    </div>
    <div class="mt-3">
        <label for="text">Name:</label>
        <input type="text" name="name"><br><br>
        <label for="date">Date of birth:</label>
        <input type="date" name="dob"><br><br>
        <label for="place">Birth place:</label>
        <input type="place" name="place"><br><br>
        <label for="address">Parmanet Address:</label>
        <input type="address" name="address"><br><br>
        <label for="text">f_name:</label>
        <input type="text" name="f_name"><br><br>
        <label for="text">m_name:</label>
        <input type="text" name="m_name"><br><br>

        <label for="name">Gender:</label>
        <select for="gender">
            <option>---------</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select><br><br>
        
        
        <label for="number">Telephone:</label>
        <input type="number" name="telephone"><br><br>
        <label for="mobile">Mobile:</label>
        <input type="number" name="mobile"><br><br>
        <label for="email">Email:</label>
        <input type="email" name="email"><br><br>

        <label for="name">Martial status:</label>
        <select for="martial status">
            <option>--------</option>
            <option value="single">Single</option>
            <option value="marride">Married</option>
            <option value="divorce">Divorce</option>
            <option value="in a relationship">In a relationship</option>
        </select><br><br>
        
        
        <label for="name">Nationality:</label>
        <select for="nationality">
            <option>--------</option>
            <option value="nepali">Nepali</option>
            <option value="chinese">Chinese</option>
            <option value="indian">Indian</option>
            <option value="korean">Korean</option>
        </select><br><br>
        
        <label for="name">Religion:</label>
        <select for="religion">
            <option>--------</option>
            <option value="hindu">Hindu</option>
            <option value="budhist">Budhist</option>
            <option value="chirstian">Chirstian</option>
            <option value="muslim">Muslim</option>
        </select><br><br>       
    </div>

    <div class="mt-4">
        <h3 class="text-success">Academic Qualification</h3><br>
        <label for="text">2016-2020:</label>
        <input type="text" name="qualification" class="form-control"><br>
        <label for="text">2013-2016:</label>
        <input type="text" name="qualification" class="form-control"><br>
        <label for="text">2011-2012:</label>
        <input type="text" name="qualification" class="form-control"><br>
    </div>

    <div class="mt-3">
        <h3 class="text-success">Work Experience:</h3>
        <label for="text">Skills:</label>
        <input type="text" name="skills" class="form-control"><br>
        <label for="text">Language:</label>
        <input type="text" name="language" class="form-control"><br>
        <label for="text">Training:</label>
        <input type="text" name="training" class="form-control"><br>
        <label for="text">Interests:</label>
        <input type="text" name="interests" class="form-control"><br>
        <label for="text">Reference:</label>
        <input type="text" name="reference" class="form-control"><br>
        <input type="submit" class="btn btn-warning"><br><br>
    </div>

</div>



{% endblock %}